
body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff; /* Белый фон */
    margin: 0;
    padding: 0;
}

header {
    background-color: #333; /* Цвет заголовка */
    color: white; /* Цвет текста заголовка */
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Тень */
}

h1 {
    margin: 20px 0;
}

form {
    max-width: 400px; /* Максимальная ширина формы */
    margin: 20px auto; /* Центрирование формы */
    padding: 20px;
    border-radius: 8px; /* Скругление углов */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Тень формы */
    background-color: #ffffff; /* Белый фон формы */
}

input, textarea {
    width: 100%; /* Полная ширина */
    padding: 10px; 
    margin: 10px 0; /* Отступы между полями */
    border: 1px solid #ccc; /* Светлый бордер */
    border-radius: 4px; /* Скругление углов полей */
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); /* Внутренняя тень */
    transition: border-color 0.3s; /* Плавный переход */
    place-items: center;
    margin-left:-10px
}

input:focus, textarea:focus {
    border-color: #333; /* Изменение цвета бордера при фокусе */
    outline: none; /* Убираем обводку */
}

button {
    background-color: #333; /* Цвет кнопки */
    color: white; /* Цвет текста кнопки */
    padding: 10px;
    border: none; /* Убираем бордер */
    border-radius: 4px; /* Скругление углов кнопки */
    cursor: pointer; /* Указатель для курсора */
    transition: background-color 0.3s; /* Плавный переход */
}

button:hover {
    background-color: #555; /* Цвет кнопки при наведении */
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5em; /* Размер шрифта заголовка для мобильных устройств */
    }

    form {
        padding: 15px; /* Уменьшаем отступы для мобильных */
    }
}
